<div class="col-md-3">
<a href="/admin/banner"><button class="btn btn-info form-control mt-3">banner management</button></a>
<a href="/admin/service"><button class="btn btn-info form-control mt-3">Service management</button></a>
<a href="/admin/testi"><button class="btn btn-info form-control mt-3">Testinominals management</button></a>
<a href="/admin/query"><button class="btn btn-info form-control mt-3"> Query management</button></a>
<a href="/admin/address"><button class="btn btn-info form-control mt-3"> Address management</button></a>



</div>
